body {
  background-color: #151515;
  font-family: "Share Tech Mono", monospace;
  margin: 0;
  padding: 0;
}

p {
  color: aquamarine;
}

h1 {
  color: white;
  padding-left: 3em;
  padding-top: 1em;
  position: relative;
  display: inline-block;
}

/* h1::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -2px;
  width: 95%;
  height: 4px;
  background: linear-gradient(
    90.84deg,
    #2196f3 -12.84%,
    #03989e 30.91%,
    #9b2cc7 104.16%
  );
} */

a {
  text-decoration: none;
  color: rgb(161, 161, 161);
  font-weight: bold;
}

.project-container {
  margin-top: 4rem;
  margin-bottom: 4rem;
  display: flex;
  justify-content: space-around;
  justify-items: center;
}

.project-container h2 {
  color: white;
}

.project-container h3 {
  color: aquamarine;
}

.project-container-child-1 {
  width: 40%;
  border-radius: 8px;
}

.project-container-child-2 {
  width: 40%;
  border-radius: 8px;
  display: flex;
  justify-content: center;
}

.project-container-child-2 img {
  width: 100%;
  box-shadow: rgba(62, 174, 223, 0.12) 0px 2px 4px 0px,
    rgba(64, 178, 226, 0.32) 0px 2px 16px 0px;
}

.content {
  padding: 20px 20px 20px 20px;
}

@media (max-width: 480px) {
  h1 {
    padding-left: 0.5rem;
    padding-top: 0px;
    font-size: 1.5rem;
  }

  .project-container {
    flex-direction: column;
    font-size: 10px;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .project-container-child-1 {
    width: 100%;
    order: 2;
    padding: 0px;
  }
  .project-container-child-2 {
    width: 100%;
    order: 1;
  }
  .project-container-child-2 img {
    width: 95%;
  }
}
